.container{
    border: 3px solid black;
    padding: 10px;
    display: flex;
    /*flex-direction: row-reverse;*/
   /* flex-direction: column;*/
   /*flex-direction: column-reverse;*/
}

.item1{
    background-color: blue;
    color: white;
    margin-right: 5px;
    padding: 5px;
    border-radius: 2px;
}

.item2{
    background-color: rgb(31, 221, 85);
    color: white;
    margin-right: 5px;
    padding: 5px;
    border-radius: 2px;
}

.item3{
    background-color: rgb(7, 119, 168);
    color: white;
    margin-right: 5px;
    padding: 5px;
    border-radius: 2px;
}

.item4{
    background-color: rgb(197, 231, 48);
    color: white;
    padding: 5px;
    margin-right: 5px;
    border-radius: 2px;

}
