.container{
    border: 3px solid black;
    padding: 10px;
    height: 300px;
    width: 300px;
    display: flex;
    /*align-items: flex-start;*/
    /*align-items: flex-end;*/
    align-items: baseline;

}

.item1{
    background-color: blue;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    font-size: 26px;
}

.item2{
    background-color: rgb(31, 221, 85);
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
}

.item3{
    background-color: rgb(7, 119, 168);
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    font-size: 26px;
}

.item4{
    background-color: rgb(197, 231, 48);
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;

}