*{
    padding: 0px;
    margin: 0px;
    color: white;
}

#logo{
    color: #f08804;
    margin-left: 10px;
}

header{
    background-color: black;
    height: 50px;
    padding-top: 20px;
    margin-bottom: 10px;
}

#button{
    background-color: #f08804;
}

a{
    margin-right: 180px;
}

.box1 {
    text-align: center;
    color: black;
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    margin-bottom: 67px;
}

footer{
    background-color: #f08804;
    color: black;
    height: 100px;
    border: 1px;
    text-align: center;
    padding-top: 50px;
}